<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestFileSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testfile.LoginTestFile"/>
      <class name="testfile.CreateLeadTestFile"/>
      <class name="testfile.ChangeThemeTestFile"/>
      <class name="testfile.CreateContactsTestFile"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- TestFileSuite -->
